:root {
  --first-color: #e9e2d0;

  --second-color: #ea9085;

  --third-color: #d45d79;

  --fourth-color: #6e5773;

  --heading-font-family:'Playfair Display', serif;

  --default-font-family:'Poppins', sans-serif;
  
}

body {
  margin: 10px auto;
  max-width: 800px;
  text-align: center;
  
}

h1 {
  font-size: 48px;
  margin: 0;
  color: var(--fourth-color);
}
strong {
  font-size: 65px;
  color: var(--third-color);
  font-family: var(--heading-font-family);
  font-weight: bold;

}
h2 {
  font-size: 25px;
  color: var(--fourth-color);
}
h3 {
  font-size: 24px;
  opacity: 0.7;
  margin: 10px;
}
h4 {
  font-size: 24px;
  color: var(--fourth-color);
  font-family: var(--heading-font-family);
}
p.project-content {
  background: var(--first-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  text-align: center;
  margin: 10px;
}

h1.about-me-title{
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--third-color);
}

h3.about-me-subtitle{
  font-family: var(--heading-font-family);
  color: var(--third-color);
}

footer {
  margin-top: auto;
  background-color: white;
  padding: 10px 10px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--second-color);
  background-color: var(--first-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

@media (max-width: 800px) {
  body {
    max-width: 500px;
  }
  h1 {
    font-size: 30px;
  }
  strong {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
  }
  .imagine {
    display: none;
  }
  .projects {
    width: 100%;
    margin: 20px 0;
  }
  .about-paragraf-desc {
    font-size: 17px;
  }
}


.projects{
  margin: auto;
}
.project-link{
  text-decoration: none;
  color: var(--fourth-color);
}
.project-link:hover{
  color: var(--fourth-color);
}

.hello-imagine {
  width: 150px;
}
.navigation-links {
  display: flex;
  justify-content: center;
}
.contact-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--second-color);
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.about-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--second-color);
  border: 1px solid var(--second-color);
}

.about-paragraf {
  margin: auto;
}

p.about-paragraf-desc{
  font-family: var(--default-font-family);
  font-size: 18px;
  text-align: left;
  color: var(--fourth-color);
}

.contact {
  display: block;
  margin: 25px;
  font-size: 28px;
  color: var(--fourth-color);
}
.mail-imagine {
  width: 50px;
  color: var(--second-color);
}
.apps {
  color: var(--third-color);
  font-size: 25px;
}

.bottom-link{
  background: white;
}

.bottom-link a{
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 30px;
  color: var(--fourth-color);
  text-decoration: none;
}
